{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-4 px-4 d-md-block my-3">
          <h3>Настройки</h3>
          <button href="#">Моя учётнпя запись</button>
          <button href="#">Чат</button>
          <button href="#">Внешний вид</button>
            <div class="list-group">
                <li href="#" class="list-group-item border-0" id="chatsLoading">
                    <div class="d-flex align-items-start">
                    </div>
                </li>
            </div>
        </div>
        <div class="col-12 col-lg-7 col-xl-8">
            <h3 class="my-3">Профиль</h3>

        </div>
    </div>
</div>
{% endblock %}